# 04.02 데이터 입출력

Pandas는 데이터 파일을 읽어 데이터프레임을 만들 수 있다. 다음처럼 여러가지 포맷을 지원한다.

* CSV
* Excel
* HTML
* JSON
* HDF5
* SAS
* STATA
* SQL

여기에서는 가장 단순하지만 널리 사용되는 CSV(Comman Separated Value) 포맷 입출력에 대해 살펴본다. CSV 파일 포맷은 데이터 값이 쉽표(comma)로 구분되는 텍스트 파일이다.

## `%%writefile` 명령

샘플 데이터로 사용할 CSV 파일을 **`%%writefile` 매직(magic) 명령**으로 만들어보자. 이 명령은 셀에 서술한 내용대로 텍스트 파일을 만드는 명령이다.

In [2]:
import warnings
warnings.filterwarnings(action='ignore')
# warnings.filterwarnings(action='default')

In [3]:
import pandas as pd

In [4]:
## DataFrame을 csv파일로 쓰기
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["지민", "호석", "석진", "태형"]

df = pd.DataFrame(data, index=index, columns=columns)
df.to_csv("bts.csv")

In [5]:
# !pip install openpyxl

In [6]:
## CSV 파일로 저장
df.to_csv('bts.csv')

In [7]:
## Excel 파일로 저장
df.to_excel('bts.xlsx')

In [8]:
pd.read_excel('bts.xlsx')

  Unnamed: 0  국어  영어  수학
0         지민  80  90  90
1         호석  90  70  60
2         석진  70  60  80
3         태형  30  40  70

## CSV 파일 입력

CSV 파일로부터 데이터를 읽어 데이터프레임을 만들 때는 `pandas.read_csv()` 명령을 사용한다.

In [9]:
import pandas as pd
import numpy as np
data = pd.read_csv('bts.csv')
data

  Unnamed: 0  국어  영어  수학
0         지민  80  90  90
1         호석  90  70  60
2         석진  70  60  80
3         태형  30  40  70

위에서 읽은 데이터에는 **열 인덱스는 있지만 행 인덱스 정보가 없으므로** **0부터 시작하는 정수 인덱스가 자동으로 추가**되었다. 만약, 위의 경우와 달리, 데이터 파일에 열 인덱스 정보가 없는 경우에는 `read_csv` 명령의 `names` 인수로 설정할 수 있다.

In [10]:
data.columns = ['이름', '국어', '영어', '수학']
data

   이름  국어  영어  수학
0  지민  80  90  90
1  호석  90  70  60
2  석진  70  60  80
3  태형  30  40  70

In [11]:
data = data.set_index("이름") # 컬럼 이름으로 인덱스 지정
data

    국어  영어  수학
이름
지민  80  90  90
호석  90  70  60
석진  70  60  80
태형  30  40  70

만약 테이블 내의 **특정한 열을 행 인덱스로 지정**하고 싶으면 `index_col` 인수를 사용한다.

In [12]:
# !chcp 65001

In [27]:
# !dir 한글이 깨질떄 위의 65001실행

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: DE83-1E59

 D:\jupyter\데이터분석 디렉터리

2025-12-08  오후 01:54    <DIR>          .
2025-12-08  오후 01:54    <DIR>          ..
2025-12-08  오전 10:26    <DIR>          .ipynb_checkpoints
2025-12-08  오후 01:55                91 bts.csv
2025-12-08  오후 01:55             5,089 bts.xlsx
2025-12-05  오후 03:11    <DIR>          data
2025-12-05  오후 04:11           211,214 [Numpy] 03.01 NumPy 배열.ipynb
2025-12-05  오전 10:34           434,685 [Numpy] 03.02 배열의 생성과 변형.ipynb
2025-12-05  오전 10:51            52,345 [Numpy] 03.03 배열의 연산.ipynb
2025-12-05  오전 11:11            58,192 [Numpy] 03.04 기술통계.ipynb
2025-12-05  오후 12:12           417,868 [Numpy] 03.05 난수 발생과 카운팅.ipynb
2025-12-05  오전 10:13           223,749 [Numpy실습] 03.01 NumPy 배열.ipynb
2025-12-05  오전 10:34           392,629 [Numpy실습] 03.02 배열의 생성과 변형.ipynb
2025-12-04  오전 11:44            28,333 [Numpy실습] 03.03 배열의 연산.ipynb
2025-12-05  오전 11:07            50,691 [Numpy실습] 03.04 기술통계.ipynb
2025-12-04  오전 11:44           407,320 [Numpy실습] 03.05 난수 발생과 카운팅.ipynb
2025-12-08  오후 12:01           206,946 [Pandas] 04.01 Pandas 패키지의 소개.ipynb
2025-12-08  오후 01:54            68,370 [Pandas] 04.02 데이터 입출력.ipynb
2025-12-08  오후 12:45            55,401 [Pandas] 04.03 데이터프레임 고급 인덱싱.ipynb
2025-12-05  오후 05:29           104,800 [Pandas] 04.04 데이터프레임의 고급 조작.ipynb
2025-12-05  오후 12:12            23,884 [Pandas] 04.05 데이터프레임 인덱스 조작.ipynb
2025-12-05  오후 12:12            21,520 [Pandas] 04.06 데이터프레임 합성.ipynb
2025-12-05  오후 12:12            35,991 [Pandas] 04.07 피봇테이블과 그룹 분석.ipynb
2025-12-05  오후 12:12            14,925 [Pandas] 04.08 시계열 자료 다루기.ipynb
2025-12-05  오후 12:12            15,543 [Pandas] 04.09 Dask 사용법 기초.ipynb
2025-12-08  오전 09:32           142,309 [Pandas실습] 04.01 Pandas 패키지의 소개.ipynb
2025-12-08  오전 09:30            13,557 [Pandas실습] 04.02 데이터 입출력.ipynb
2025-12-08  오전 09:30            18,436 [Pandas실습] 04.03 데이터프레임 고급 인덱싱.ipynb
2025-12-08  오전 09:30            31,349 [Pandas실습] 04.04 데이터프레임의 고급 조작.ipynb
2025-12-08  오전 09:30            19,249 [Pandas실습] 04.05 데이터프레임 인덱스 조작.ipynb
2025-12-08  오전 09:30            20,224 [Pandas실습] 04.06 데이터프레임 합성.ipynb
2025-12-08  오전 09:30            32,383 [Pandas실습] 04.07 피봇테이블과 그룹 분석.ipynb
2025-12-08  오전 09:30            12,568 [Pandas실습] 04.08 시계열 자료 다루기.ipynb
              29개 파일           3,119,661 바이트
               4개 디렉터리  490,504,028,160 바이트 남음

In [13]:
# !del -rf ./data/sample?.*

In [14]:
## %%: 주피터노트북 매직 명령어...

In [28]:
!mkdir data

하위 디렉터리 또는 파일 data이(가) 이미 있습니다.

In [29]:
%%writefile ./data/sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing ./data/sample1.csv

In [30]:
pd.read_csv('./data/sample1.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [31]:
pd.read_csv('./data/sample1.csv', index_col='c1')

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

확장자가 CSV가 아닌 파일 즉, 데이터를 구분하는 구분자(separator)가 쉼표(comma)가 아니면 `sep` 인수를 써서 구분자를 사용자가 지정해준다. 만약 구분자가 **길이가 정해지지 않은 공백**인 경우에는 **`\s+`** 라는 정규식(regular expression) 문자열을 사용한다.

In [32]:
%%writefile ./data/sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing ./data/sample3.txt

In [33]:
# 공백으로 분리되어 있는 텍스트 파일을 테이블로 읽기
df = pd.read_table('./data/sample3.txt')
df

        c1        c2        c3        c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [34]:
df.shape

(3, 1)

In [35]:
df = pd.read_table('./data/sample3.txt', sep='\s+')  # 구분자가 길이가 정해지지 않은 공백
df

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [36]:
df.shape

(3, 4)

특정한 값을 NaN으로 취급하고 싶으면 `na_values` 인수에 NaN 값으로 취급할 값을 넣는다.

In [37]:
%%writefile data/sample5.csv
c1, c2, c3
1, 1.11, one
2, , two
누락, 3.33, three

Writing data/sample5.csv

In [38]:
df = pd.read_csv('data/sample5.csv')
df

   c1     c2      c3
0   1   1.11     one
1   2            two
2  누락   3.33   three

In [41]:
df.values

array([[1.0, ' 1.11', ' one'],
       [2.0, ' ', ' two'],
       [nan, ' 3.33', ' three']], dtype=object)

In [39]:
df = pd.read_csv('data/sample5.csv', na_values=['누락'])
df

    c1     c2      c3
0  1.0   1.11     one
1  2.0            two
2  NaN   3.33   three

## CSV 파일 출력

지금까지와 반대로 파이썬의 데이터프레임 값을 CSV 파일로 출력하고 싶으면 `to_csv()` 메서드를 사용한다.

In [42]:
df

    c1     c2      c3
0  1.0   1.11     one
1  2.0            two
2  NaN   3.33   three

In [43]:
df.to_csv('data/sample6.csv')

리눅스나 맥에서는 `cat` 셸 명령으로 파일의 내용을 확인할 수 있다. 윈도우에서는 `type` 명령을 사용한다. 느낌표(!)는 셸 명령을 사용하기 위한 IPython 매직 명령이다.

In [44]:
!type .\data\sample6.csv

,c1, c2, c3
0,1.0, 1.11, one
1,2.0, , two
2,, 3.33, three

In [45]:
pd.read_csv('./data/sample6.csv')

   Unnamed: 0   c1     c2      c3
0           0  1.0   1.11     one
1           1  2.0            two
2           2  NaN   3.33   three

파일을 읽을 때와 마찬가지로 출력할 때도 `sep` 인수로 구분자를 바꿀 수 있다.

In [46]:
df.to_csv('data/sample7.txt', sep='|')

In [47]:
!type .\data\sample7.txt

|c1| c2| c3
0|1.0| 1.11| one
1|2.0| | two
2|| 3.33| three

또 `na_rep` 인수로 NaN 표시값을 바꿀 수도 있다.

In [48]:
df.to_csv('data/sample8.csv', na_rep='missing')  # read_csv에서는 na_values=['누락']

In [49]:
!type .\data\sample8.csv

,c1, c2, c3
0,1.0, 1.11, one
1,2.0, , two
2,missing, 3.33, three

`index`, `header` 인수를 지정하여 인덱스 및 헤더 출력 여부를 지정하는 것도 가능하다.

In [50]:
df.index = ["a", "b", "c"]
df

    c1     c2      c3
a  1.0   1.11     one
b  2.0            two
c  NaN   3.33   three

In [51]:
df.to_csv('data/sample9.csv', index=False, header=False) 
# DataFrame만들때는 columns, read_csv에서는 name, to_csv에서는 header

In [52]:
!type .\data\sample9.csv

1.0, 1.11, one
2.0, , two
, 3.33, three

## 인터넷 상의 CSV 파일 입력

웹상에는 다양한 데이터 파일이 CSV 파일 형태로 제공된다. `read_csv` 명령 사용시 파일 패스 대신 URL을 지정하면 Pandas가 직접 해당 파일을 다운로드하여 읽어들인다. 다음은 저자의 github 웹사이트에 저장되어 있는 데이터 파일을 원격으로 읽는 명령이다.

In [37]:
# df = pd.read_csv("https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv")
df = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv")

이 데이터프레임은 실제로 데이터 갯수, 즉 행(row)의 수가 890개가 넘는 대량의 데이터이다. 이렇게 데이터의 수가 많을 경우, 데이터프레임의 표현(representation)은 데이터 앞, 뒤의 일부분만 보여준다. 보여줄 행의 수는 `display.max_rows` 옵션으로 정할 수 있다.

In [42]:
df.shape

(891, 12)

In [38]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [39]:
pd.set_option("display.max_rows", 10)  # 보여줄 행의 개수
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

만약 앞이나 뒤의 특정 갯수만 보고 싶다면 `head` 메서드나 `tail` 메서드를 이용한다. 메서드 인수로 출력할 행의 수를 넣을 수도 있다.

In [40]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
df.tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
888,889,0,3,"Johnston, Miss Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

---
### 웹 크롤링

* User-Agent 정보
    * https://whatismybrowser.com/detect/what-is-my-user-agent/
    * https://www.whatismyuseragent.com/

In [57]:
## (1) 판다스 크롤링

import pandas as pd

url = 'https://ko.wikipedia.org/wiki/%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD%EC%9D%98_%EC%9D%B8%EA%B5%AC'

# 헤더 정보는 storage_options에 딕셔너리로 전달합니다. 
user_agent = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}

# header=0 : 테이블의 첫 번째 행을 컬럼 이름으로 사용하겠다는 의미
dfs = pd.read_html(url, header=0, storage_options=user_agent)

# 결과 확인 (첫 번째 테이블)
print(dfs[0].head())
dfs

  Unnamed: 0    2016 2016.1    2017 2017.1   2018 2018.1   2019 2019.1   2020  \
0        NaN      인구   인구밀도      인구   인구밀도     인구   인구밀도     인구   인구밀도     인구
1          계   51218    510   51362    512  51607    514  51709    515  51781
2         서울    9843  16263    9766  16136   9705  16034   9662  15964   9602
3         부산  약3,500   4477  약3,100   4447   3400   4416   3300   4380   3344
4         대구    2461   2786    2458   2782   2450   2773   2432   2753   2419

  2020.1
0   인구밀도
1    516
2  15865
3   4342
4   2738

[   Unnamed: 0    2016 2016.1    2017 2017.1   2018 2018.1   2019 2019.1  \
 0         NaN      인구   인구밀도      인구   인구밀도     인구   인구밀도     인구   인구밀도
 1           계   51218    510   51362    512  51607    514  51709    515
 2          서울    9843  16263    9766  16136   9705  16034   9662  15964
 3          부산  약3,500   4477  약3,100   4447   3400   4416   3300   4380
 4          대구    2461   2786    2458   2782   2450   2773   2432   2753
 5          인천    2907   2736    2924   2750   2939   2764   2944   2769
 6          광주    1502   2997    1495   2984   1493   2980   1494   2980
 7          대전    1536   2848    1528   2832   1518   2813   1509   2796
 8          울산    1166   1099    1159   1092   1154   1088   1147   1080
 9          세종     234    504     266    571    304    653    331    712
 10         경기   12600   1237   12786   1255  13031   1279  13238   1299
 11         강원    1521     90    1521     90   1521     90   1517     90
 12         충북    1601    216    1609    217   1619    219   1626    219
 13         충남    2126    258    2153    262   2180    265   2188    265
 14         전북    1835    227    1829    227   1820    226   1803    223
 15         전남    1798    146    1795    146   1790    145   1773    144
 16         경북    2683    141    2675    141   2674    141   2665    140
 17         경남    3338    317    3339    317   3356    318   3350    318
 18         제주     618    334     635    343    653    353    660    356
 19        수도권   25350   2139   25476   2149  25675   2165  25844   2179

      2020 2020.1
 0      인구   인구밀도
 1   51781    516
 2    9602  15865
 3    3344   4342
 4    2419   2738
 5    2951   2770
 6    1488   2969
 7    1500   2780
 8    1140   1073
 9     349    750
 10  13405   1315
 11   1515     90
 12   1632    220
 13   2204    267
 14   1792    222
 15   1764    143
 16   2655    140
 17   3350    318
 18    670    362
 19  25958   2188  ,
           Unnamed: 0         Unnamed: 1     2011   2012   2013   2014   2015  \
 0               기대수명                  계    80.62  80.87  81.36  81.80  82.06
 1               기대수명                 남자    77.26  77.57  78.12  78.58  78.96
 2               기대수명                 여자    83.97  84.17  84.60  85.02  85.17
 3  유병기간제외 기대수명(건강수명)  유병기간제외 기대수명(건강수명)  (자료 없음)  65.70      -  65.20      -

    2016   2017  2018   2019
 0  82.4  82.70  82.7  83.30
 1  79.3  79.70  79.7  80.30
 2  85.4  85.70  85.7  86.30
 3  64.9      -  64.4      -  ,
    대한민국의 총인구  대한민국의 총인구.1  대한민국의 총인구.2  대한민국의 총인구.3  대한민국의 총인구.4  대한민국의 총인구.5  \
 0       1949         1955         1970         1980         1985         1995
 1   20166756  ↗21,502,386  ↗31,435,252  ↗37,406,815  ↗40,419,652  ↗44,553,710

    대한민국의 총인구.6  대한민국의 총인구.7  대한민국의 총인구.8  대한민국의 총인구.9 대한민국의 총인구.10  \
 0         2005         2010         2015         2018         2019
 1  ↗47,041,434  ↗47,990,761  ↗51,069,375  ↗51,629,512  ↗51,779,203

   대한민국의 총인구.11
 0         2020
 1  ↗51,829,136  ,
    대한민국의 주민등록 인구 대한민국의 주민등록 인구.1 대한민국의 주민등록 인구.2 대한민국의 주민등록 인구.3  \
 0           2008            2009            2010            2013
 1       49540367     ↗49,773,145     ↗50,515,666     ↗51,141,463

   대한민국의 주민등록 인구.4 대한민국의 주민등록 인구.5 대한민국의 주민등록 인구.6 대한민국의 주민등록 인구.7  \
 0            2015            2016            2018        2019. 10
 1     ↗51,529,338     ↗51,696,216     ↗51,826,059     ↗51,850,705

   대한민국의 주민등록 인구.8 대한민국의 주민등록 인구.9 대한민국의 주민등록 인구.10 대한민국의 주민등록 인구.11
 0        2019. 11        2019. 12             2020         2021. 07
 1     ↗51,851,427     ↘51,849,861      ↘51,779,203      ↘51,671,569  ,
     연도 (년)   추계인구(명)  출생자수(명)  사망자수(명)  자연증가수(명)  조출생률 (1000명당)  \
 0     1925  12997611   558897   359042    199855           43.0
 1     1926  13052741   511667   337948    173719           39.2
 2     1927  13037169   534524   353818    180706           41.0
 3     1928  13105131   566142   357701    208441           43.2
 4     1929  13124279   566969   414366    152603           43.2
 5     1930  13880469   587144   322611    264533           42.3
 6     1931  13895052   589428   346800    242628           42.4
 7     1932  14117191   600545   384287    216258           42.5
 8     1933  14229277   607021   336232    270789           42.7
 9     1934  14449155   618135   356515    261620           42.8
 10    1935  15061960   646158   377454    268704           42.9
 11    1936  15114775   639355   381806    257549           42.3
 12    1937  15235383   636839   342575    294264           41.8
 13    1938  15358193   569299   347025    222274           37.1
 14    1939  15486028   585482   353391    232091           37.8
 15    1940  15559741   527964   358496    169468           33.9
 16    1941  15745478   553690   366239    187451           35.2
 17    1942  16013742   533768   376003    157765           33.3
 18    1943  16239721   513846   384881    128965           31.6
 19    1944  16599172   533215   380121    153094           32.1

     조사망률 (1000명당)  자연증가율 (1000명당)  합계출산율
 0            27.6            15.4   6.59
 1            25.9            13.3    NaN
 2            27.1            13.9    NaN
 3            27.3            15.9    NaN
 4            31.6            11.6    NaN
 5            23.2            19.1   6.41
 6            25.0            17.4    NaN
 7            27.2            15.3    NaN
 8            23.6            19.1    NaN
 9            24.7            18.1    NaN
 10           25.1            17.8   6.60
 11           25.3            17.0    NaN
 12           22.5            19.3    NaN
 13           22.6            14.5    NaN
 14           22.8            15.0    NaN
 15           23.0            10.9   6.56
 16           23.3            11.9    NaN
 17           23.5             9.8    NaN
 18           23.7             7.9    NaN
 19           22.9             9.2   6.78  ,
     연도 (년)   추계인구(명)  출생자수(명)  사망자수(명)  자연증가수(명)  조출생률 (1000명당)  \
 0     1945  16695819   544786   367308    177478           32.6
 1     1946  19369270   590763   410629    180134           30.5
 2     1947  19836234   686334   361019    325315           35.0
 3     1948  20027393   692948   374512    318436           34.6
 4     1949  20188641   696508   341188    355320           34.5
 ..     ...       ...      ...      ...       ...            ...
 75    2020  51836239   272337   304948    -32611            5.3
 76    2021  51744876   260562   317680    -57118            5.1
 77    2022  51628117   249186   372939   -123753            4.9
 78    2023  51430018   229971   352721   -122750            4.5
 79    2024  51751065   238300   358400  −120,100            4.7

     조사망률 (1000명당) 자연증가율 (1000명당)  합계출산율
 0            22.0           10.6    NaN
 1            21.2            9.3    NaN
 2            18.2           16.8    NaN
 3            18.7           15.9    NaN
 4            16.9           17.6    NaN
 ..            ...            ...    ...
 75            5.9           -0.6  0.837
 76            6.2           -1.1  0.808
 77            7.3           -2.4  0.778
 78            6.9           -2.4  0.720
 79            7.0           –2.4  0.750

 [80 rows x 9 columns],
      연도  1908  1913  1918  1923  1928  1933  1938  1942  1950[21]
 0  기대수명  23.5  25.0  27.0  29.5  33.6  37.4  42.6  44.9      46.7,
           기간  기대수명       기간.1  기대수명.1
 0  1950–1955  47.9  1985–1990    70.3
 1  1955–1960  51.2  1990–1995    72.9
 2  1960–1965  54.8  1995–2000    75.0
 3  1965–1970  58.8  2000–2005    77.2
 4  1970–1975  63.1  2005–2010    79.4
 5  1975–1980  65.0  2010–2015    81.3
 6  1980–1985  67.4  2015-2020    83.5,
       연도  1900  1901  1902  1903  1904  1905  1906  1907  1908  1909  1910[22]
 0  합계출산율     6     6  5.99  5.99  5.98  5.98  5.97  5.96  5.96  5.96       NaN,
       연도  1911  1912  1913  1914  1915  1916  1917  1918  1919  1920[22]
 0  합계출산율  5.95  5.95  5.94  5.94  5.93  5.93  5.92  5.92  5.93      5.94,
       연도  1921  1922  1923  1924[22]
 0  합계출산율  5.95  5.96  5.97      5.95,
    Unnamed: 0  2021년 6월 2021년 6월.1 2021년 6월.2 2021년 6월.3 2021년 6월.4 2021년 6월.5
 0         NaN     총 인구수        세대수     세대당 인구     남자 인구수     여자 인구수      남여 비율
 1          전국  51672400   23256332       2.22   25770033   25902367       0.99
 2       서울특별시   9565990    4405638       2.17    4649442    4916548       0.95
 3       부산광역시   3364358    1533514       2.19    1647291    1717067       0.96
 4       대구광역시   2397646    1059826       2.26    1182380    1215266       0.97
 5       인천광역시   2936367    1280291       2.29    1470544    1465823       1.00
 6       광주광역시   1442647     638270       2.26     713793     728854       0.98
 7       대전광역시   1456107     657781       2.21     726666     729441       1.00
 8       울산광역시   1126369     479971       2.35     578924     547445       1.06
 9     세종특별자치시    362995     148604       2.44     181328     181667       1.00
 10        경기도  13500688    5763227       2.34    6795088    6705600       1.01
 11        강원도   1535530     738068       2.08     772949     762581       1.01
 12       충청북도   1597503     752237       2.12     810225     787278       1.03
 13       충청남도   2117400     991636       2.14    1082113    1035287       1.05
 14       전라북도   1794345     842662       2.13     892670     901675       0.99
 15       전라남도   1840921     897529       2.05     926398     914523       1.01
 16       경상북도   2632401    1266588       2.08    1326844    1305557       1.02
 17       경상남도   3325840    1496137       2.22    1674612    1651228       1.01
 18    제주특별자치도    675293     304353       2.22     338766     336527       1.01,
    Unnamed: 0 2021.07 연령별 인구현황 2021.07 연령별 인구현황.1 2021.07 연령별 인구현황.2  \
 0         NaN          주민등록 인구               0-9세             10-19세
 1          전국         51671569            3843759            4737829
 2       서울특별시          9558153             599600             764952
 3       부산광역시          3361781             224799             267659
 4       대구광역시          2395749             171893             220577
 5       인천광역시          2937440             221097             271547
 6       광주광역시          1442482             116003             153869
 7       대전광역시          1455300             110138             143598
 8       울산광역시          1125727              94428             110546
 9     세종특별자치시           364364              46995              44340
 10        경기도         13512867            1119413            1326320
 11        강원도          1536140             102580             135021
 12       충청북도          1597501             119553             147224
 13       충청남도          2118205             166848             201286
 14       전라북도          1793902             123179             171743
 15       전라남도          1839698             127179             164477
 16       경상북도          2631649             182918             223455
 17       경상남도          3324735             257940             320906
 18    제주특별자치도           675876              59196              70309

    2021.07 연령별 인구현황.3 2021.07 연령별 인구현황.4 2021.07 연령별 인구현황.5  \
 0              20-29세             30-39세             40-49세
 1             6733054            6764334            8205797
 2             1440484            1449434            1497354
 3              422488             409975             505116
 4              315051             287590             376422
 5              394550             400637             480528
 6              207814             182548             237460
 7              210655             190813             233122
 8              140710             147449             184951
 9               38265              61176              71019
 10            1809310            1898501            2295435
 11             176875             163235             220452
 12             196710             192127             238200
 13             240255             262268             326371
 14             209534             184768             262826
 15             197212             181118             254908
 16             280421             283759             378861
 17             370748             387531             531015
 18              81972              81405             111757

    2021.07 연령별 인구현황.6 2021.07 연령별 인구현황.7 2021.07 연령별 인구현황.8  \
 0              50-59세             60-69세             70-79세
 1             8591085            7039371            3699044
 2             1505745            1274190             696452
 3              556481             544644             294713
 4              419517             337985             175933
 5              508488             388725             178261
 6              233995             169107              94071
 7              239271             187703              91741
 8              206594             152653              61642
 9               46878              32468              14554
 10            2249247            1625682             769763
 11             263759             253985             133653
 12             269459             236905             119913
 13             337638             294422             171492
 14             297818             264807             170737
 15             311829             280838             191252
 16             453913             427094             241786
 17             576482             485482             247494
 18             113971              82681              45587

    2021.07 연령별 인구현황.9 2021.07 연령별 인구현황.10 2021.07 연령별 인구현황.11
 0              80-89세              90-99세             100세 이상
 1             1790233              256245               10818
 2              286511               40954                2477
 3              120274               14876                 756
 4               80677                9732                 372
 5               80508               12554                 545
 6               41385                5997                 233
 7               42113                5937                 209
 8               23542                3129                  83
 9                7365                1268                  36
 10             363493               53391                2312
 11              74741               11374                 465
 12              67734                9360                 316
 13             102261               14845                 519
 14              93733               14225                 532
 15             113467               16821                 597
 16             139206               19584                 652
 17             128534               18093                 510
 18              24689                4105                 204  ,
    Unnamed: 0 2020 통계청 인구주택총조사 2020 통계청 인구주택총조사.1 2020 통계청 인구주택총조사.2  \
 0         NaN              총인구                 남자                 여자
 1          전국         51829136           25915207           25913929
 2          읍부          5113052            2624351            2488701
 3          면부          4650781            2420392            2230389
 4          동부         42065303           20870464           21194839
 5       서울특별시          9586195            4647733            4938462
 6       부산광역시          3349016            1638751            1710265
 7       대국광역시          2410700            1190271            1220429
 8       인천광역시          2945454            1477064            1468390
 9       광주광역시          1477573             734140             743433
 10      대전광역시          1488435             744349             744086
 11      울산광역시          1135423             585978             549445
 12    세종특별자치시           353933             177939             175994
 13        경기도         13511676            6828367            6683309
 14        강원도          1521763             767674             754089
 15       충청북도          1632088             833819             798269
 16       충청남도          2176636            1117575            1059061
 17       전라북도          1802766             899058             903708
 18       전라남도          1788807             903281             885526
 19       경상북도          2644757            1338823            1305934
 20       경상남도          3333056            1692212            1640844
 21    제주특별자치도           670858             338173             332685

    2020 통계청 인구주택총조사.3 2020 통계청 인구주택총조사.4 2020 통계청 인구주택총조사.5  \
 0                 내국인             내국인-남자             내국인-여자
 1            50133493           24972588           25160905
 2             4904647            2494271            2410376
 3             4394145            2237761            2156384
 4            40834701           20240556           20594145
 5             9219741            4474343            4745398
 6             3294102            1608877            1685225
 7             2373302            1170625            1202677
 8             2846242            1422376            1423866
 9             1447000             717832             729168
 10            1465507             733852             731655
 11            1108528             570131             538397
 12             346689             173541             173148
 13           12928214            6489718            6438496
 14            1497109             754831             742278
 15            1574994             799168             775826
 16            2077470            1058869            1018601
 17            1760400             876451             883949
 18            1743571             875732             867839
 19            2570210            1294138            1276072
 20            3236387            1629100            1607287
 21             644027             323004             321023

    2020 통계청 인구주택총조사.6 2020 통계청 인구주택총조사.7
 0              외국인-남자             외국인-여자
 1              942619             753024
 2              130080              78325
 3              182631              74005
 4              629908             600694
 5              173390             193064
 6               29874              25040
 7               19646              17752
 8               54688              44524
 9               16308              14265
 10              10497              12431
 11              15847              11048
 12               4398               2846
 13             338649             244813
 14              12843              11811
 15              34651              22443
 16              58706              40460
 17              22607              19759
 18              27549              17687
 19              44685              29862
 20              63112              33557
 21              15169              11662  ,
    Unnamed: 0 2020 통계청 인구주택총조사 연령 및 성별 인구 2020 통계청 인구주택총조사 연령 및 성별 인구.1  \
 0         NaN                         총인구                            남자
 1          전체                    51829136                      25915207
 2        0~4세                     1722081                        883196
 3        5~9세                     2264595                       1161247
 4      10~14세                     2267481                       1168937
 5      15~19세                     2449561                       1271404
 6      20~24세                     3364804                       1762135
 7      25~29세                     3666212                       1959723
 8      30~34세                     3301331                       1742483
 9      35~39세                     3805470                       1970249
 10     40~44세                     3906665                       1997630
 11     45~49세                     4325697                       2196042
 12     50~54세                     4372054                       2195060
 13     55~59세                     4210645                       2109380
 14     60~64세                     3885297                       1912792
 15     65~69세                     2734187                       1314575
 16     70~74세                     2027679                        946539

In [58]:
dfs[0]

,Unnamed: 0,2016,2016.1,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1
0,NaN,인구,인구밀도,인구,인구밀도,인구,인구밀도,인구,인구밀도,인구,인구밀도
1,계,51218,510,51362,512,51607,514,51709,515,51781,516
2,서울,9843,16263,9766,16136,9705,16034,9662,15964,9602,15865
3,부산,"약3,500",4477,"약3,100",4447,3400,4416,3300,4380,3344,4342
4,대구,2461,2786,2458,2782,2450,2773,2432,2753,2419,2738
5,인천,2907,2736,2924,2750,2939,2764,2944,2769,2951,2770
6,광주,1502,2997,1495,2984,1493,2980,1494,2980,1488,2969
7,대전,1536,2848,1528,2832,1518,2813,1509,2796,1500,2780
8,울산,1166,1099,1159,1092,1154,1088,1147,1080,1140,1073
9,세종,234,504,266,571,304,653,331,712,349,750
10,경기,12600,1237,12786,1255,13031,1279,13238,1299,13405,1315
11,강원,1521,90,1521,90,1521,90,1517,90,1515,90
12,충북,1601,216,1609,217,1619,219,1626,219,1632,220
13,충남,2126,258,2153,262,2180,265,2188,265,2204,267
14,전북,1835,227,1829,227,1820,226,1803,223,1792,222
15,전남,1798,146,1795,146,1790,145,1773,144,1764,143
16,경북,2683,141,2675,141,2674,141,2665,140,2655,140
17,경남,3338,317,3339,317,3356,318,3350,318,3350,318
18,제주,618,334,635,343,653,353,660,356,670,362
19,수도권,25350,2139,25476,2149,25675,2165,25844,2179,25958,2188

In [60]:
dfs[1]

,Unnamed: 0,Unnamed: 1,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,기대수명,계,80.62,80.87,81.36,81.80,82.06,82.4,82.70,82.7,83.30
1,기대수명,남자,77.26,77.57,78.12,78.58,78.96,79.3,79.70,79.7,80.30
2,기대수명,여자,83.97,84.17,84.60,85.02,85.17,85.4,85.70,85.7,86.30
3,유병기간제외 기대수명(건강수명),유병기간제외 기대수명(건강수명),(자료 없음),65.70,-,65.20,-,64.9,-,64.4,-

In [62]:
dfs[5]

,연도 (년),추계인구(명),출생자수(명),사망자수(명),자연증가수(명),조출생률 (1000명당),조사망률 (1000명당),자연증가율 (1000명당),합계출산율
0,1945,16695819,544786,367308,177478,32.6,22.0,10.6,NaN
1,1946,19369270,590763,410629,180134,30.5,21.2,9.3,NaN
2,1947,19836234,686334,361019,325315,35.0,18.2,16.8,NaN
3,1948,20027393,692948,374512,318436,34.6,18.7,15.9,NaN
4,1949,20188641,696508,341188,355320,34.5,16.9,17.6,NaN
...,...,...,...,...,...,...,...,...,...
75,2020,51836239,272337,304948,-32611,5.3,5.9,-0.6,0.837
76,2021,51744876,260562,317680,-57118,5.1,6.2,-1.1,0.808
77,2022,51628117,249186,372939,-123753,4.9,7.3,-2.4,0.778
78,2023,51430018,229971,352721,-122750,4.5,6.9,-2.4,0.720
79,2024,51751065,238300,358400,"−120,100",4.7,7.0,–2.4,0.750

In [64]:
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Gulim'
df[['출생자수(명)','사망자수(명)']].plot()

KeyError: "None of [Index(['출생자수(명)', '사망자수(명)'], dtype='object')] are in the [columns]"

In [65]:
import pandas as pd # Pandas 라이브러리를 사용하였습니다.
import requests # Requests 라이브러리를 사용하였습니다.

df = pd.DataFrame() # 데이터를 삽입할 비어있는 데이터프레임 객체를 생성하였습니다.

for page in range(1, 6): # 페이지 수를 의미하는 1부터 5까지의 숫자에 대해 반복하였습니다.

  url_005930 = "http://finance.naver.com/item/sise_day.nhn?code=005930" + "&page=" + str(page)
  # 네이버 금융의 삼성전자의 주식 정보가 있는 페이지에서 페이지 번호(&page=)를 str(page) 파라미터로 추가하였습니다.

  headers = {"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}
  # 웹 서버가 웹 크롤링 요청을 웹 브라우저에서 온 것으로 인식하게 하기 위해 User-Agent 헤더 정보를 작성하였습니다.
  # 참고로 User-Agent 정보는 'https://useragentstring.com/'에서 획득할 수 있으며 이는 사용자의 웹 환경 등의 정보입니다.

  response = requests.get(url_005930, headers=headers)
  # 설정한 url에 HTTP GET 요청을 보낸 후 response 변수에 해당 응답을 저장하게 설정하였습니다.

  df = pd.concat([df, pd.read_html(response.text, header=0)[0]], ignore_index=True)
  # response에 저장된 HTML 내용 중 테이블을 pandas 데이터프레임으로 변환하였습니다.
  # 그리고 변환된 데이터프레임을 비어있는 기존 데이터프레임과 결합(concat)시켰습니다.
  # 새로운 데이터프레임의 인덱스값에 중복이 없도록 설정(ignore_index=True)하였습니다.

  # <참고 코드 : append 메소드>
  # df = df.append(pd.read_html(response.text, header=0)[0], ignore_index=True)
  # append 메소드는 concat과 비슷한 역할을 합니다.
  # append 메소드는 다른 데이터프레임을 행 방향(상-하)으로 결합시키는 기능을 수행합니다.
  # concat 메소드는 다른 데이터프레임을 행 방향 또는 열 방향(좌-우)으로 결합시킵니다.
  # 그러므로 데이터프레임을 더 유연하게 다루려면 concat 메소드를 사용하는 것이 더 바람직합니다.
  # 한편 Pandas 개발자들이 append 기능을 언젠가 라이브러리에서 제외시킬 예정이라고 합니다.

df = df.dropna() # 결측값이 있는 행을 삭제하였습니다.
df
# 데이터프레임을 출력하였습니다.
# 참고로 print(df)를 입력하면 데이터프레임이 출력되기는 하지만 시각화 정도가 좋지 않습니다.
# 단 두 글자뿐인 'df'를 입력하지 않으면 데이터프레임이 출력되지 않습니다.

            날짜        종가        전일비        시가        고가        저가         거래량
1   2025.12.08  109100.0    상승  700  109700.0  110000.0  108000.0  12191401.0
2   2025.12.05  108400.0  상승  3,300  105300.0  108400.0  104600.0  19755571.0
3   2025.12.04  105100.0    상승  600  103900.0  105100.0  103200.0  11931145.0
4   2025.12.03  104500.0  상승  1,100  104700.0  105500.0  104000.0  14697927.0
5   2025.12.02  103400.0  상승  2,600  101200.0  103500.0  101000.0  13649487.0
9   2025.12.01  100800.0    상승  300  102000.0  102800.0   99900.0  10905526.0
10  2025.11.28  100500.0  하락  3,000  103800.0  103800.0  100500.0  15292277.0
11  2025.11.27  103500.0    상승  700  104100.0  105500.0  102700.0  16453004.0
12  2025.11.26  102800.0  상승  3,500  100500.0  102900.0   99300.0  21314975.0
13  2025.11.25   99300.0  상승  2,600  101400.0  101400.0   97800.0  16110054.0
16  2025.11.24   96700.0  상승  1,900   97800.0   99000.0   96200.0  29831172.0
17  2025.11.21   94800.0  하락  5,800   95600.0   96800.0   94500.0  23103574.0
18  2025.11.20  100600.0  상승  4,100  100900.0  102900.0   99500.0  25360435.0
19  2025.11.19   96500.0  하락  1,300   97100.0   97500.0   94600.0  18993346.0
20  2025.11.18   97800.0  하락  2,800   99800.0  100900.0   97500.0  18684068.0
24  2025.11.17  100600.0  상승  3,400   99800.0  101000.0   99500.0  17192584.0
25  2025.11.14   97200.0  하락  5,600   99000.0   99600.0   97200.0  21806342.0
26  2025.11.13  102800.0    하락  300  102500.0  104200.0  102300.0  20838741.0
27  2025.11.12  103100.0    하락  400  103000.0  103900.0  101600.0  19413497.0
28  2025.11.11  103500.0  상승  2,900  103700.0  106000.0  102000.0  27742542.0
31  2025.11.10  100600.0  상승  2,700   98600.0  101000.0   97900.0  23842327.0
32  2025.11.07   97900.0  하락  1,300   96400.0  100300.0   96300.0  22908083.0
33  2025.11.06   99200.0  하락  1,400  103700.0  103800.0   98800.0  28655689.0
34  2025.11.05  100600.0  하락  4,300  101000.0  102000.0   96700.0  44843020.0
35  2025.11.04  104900.0  하락  6,200  111800.0  112400.0  104900.0  30450281.0
39  2025.11.03  111100.0  상승  3,600  106900.0  111500.0  106500.0  30110066.0
40  2025.10.31  107500.0  상승  3,400  105000.0  108600.0  103300.0  54824564.0
41  2025.10.30  104100.0  상승  3,600  102400.0  105800.0  102000.0  34570017.0
42  2025.10.29  100500.0  상승  1,000  100200.0  101000.0   99100.0  20899788.0
43  2025.10.28   99500.0  하락  2,500  100900.0  101000.0   99100.0  20002282.0
46  2025.10.27  102000.0  상승  3,200  101300.0  102000.0  100600.0  22169970.0
47  2025.10.24   98800.0  상승  2,300   97900.0   99000.0   97700.0  18801925.0
48  2025.10.23   96500.0  하락  2,100   96800.0   98500.0   96300.0  18488581.0
49  2025.10.22   98600.0  상승  1,100   97100.0   98600.0   95500.0  15937611.0
50  2025.10.21   97500.0    하락  600   98500.0   99900.0   97300.0  22803830.0
54  2025.10.20   98100.0    상승  200   97900.0   98300.0   96000.0  17589756.0
55  2025.10.17   97900.0    상승  200   97200.0   99100.0   96700.0  22730809.0
56  2025.10.16   97700.0  상승  2,700   95300.0   97700.0   95000.0  28141060.0
57  2025.10.15   95000.0  상승  3,400   92300.0   95300.0   92100.0  21050111.0
58  2025.10.14   91600.0  하락  1,700   95300.0   96000.0   90200.0  35545235.0
61  2025.10.13   93300.0  하락  1,100   91300.0   93400.0   90700.0  23883308.0
62  2025.10.10   94400.0  상승  5,400   94000.0   94500.0   92700.0  35269748.0
63  2025.10.02   89000.0  상승  3,000   89300.0   90300.0   88700.0  49883028.0
64  2025.10.01   86000.0  상승  2,100   84900.0   86200.0   84700.0  22039361.0
65  2025.09.30   83900.0    하락  300   84600.0   84900.0   83400.0  16319061.0
69  2025.09.29   84200.0    상승  900   83300.0   85000.0   83200.0  13069094.0
70  2025.09.26   83300.0  하락  2,800   85000.0   85300.0   82400.0  24071193.0
71  2025.09.25   86100.0    상승  700   84400.0   86200.0   84100.0  19665151.0
72  2025.09.24   85400.0    상승  700   84200.0   85500.0   83700.0  18300997.0
73  2025.09.23   84700.0  상승  1,200   85800.0   85900.0   83600.0  23610263.0